<!DOCTYPE html>
<html>
  <head>
    <title>Moovie</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="site-header">
      <%= link_to "moovie", root_path, class: "brand" %>
      <nav>
        <%= link_to "Movies", movies_path %>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
